@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span>+7(919)89-58-211</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span><a href="mailto:pashaiva@mail.ru">pashaiva@mail.ru</a></span>
    </p>
</section>