@model Psub.DataService.HandlerPerQuery.CatalogProcess.Entities.CatalogCreateGetViewModel

@{
    ViewBag.Title = "Новая публикация";
}
@using (Html.BeginForm("Create", "Catalog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.ValidationSummary(false)
    
    @Html.EditorForModel()
    <button type="submit" class="btn btn-primary">Сохранить</button>
}