@using Psub.Shared
@model Psub.DataService.HandlerPerQuery.CatalogSectionProcess.Entities.CatalogMainSectionCreateGetViewModel
@{
    ViewBag.Title = LanguageConstants.CreateMainSection;
}

<h2>@LanguageConstants.CreateMainSection</h2>

@using (Html.BeginForm("CreateMainSection", "Catalog", FormMethod.Post))
{
    <div>@Html.ValidationSummary()</div>

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.LabelFor(model => model.Name)
            </th>
            <td class="table-bordered">
                @Html.EditorFor(model => model.Name)
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">
        Сохранить
    </button>
}